@font-face {
  font-family: 'Pixel Emulator';
  src: url('./pixel-emulator.otf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.container {
  margin: auto;
}

.title {
  font-size: 100px;
  color: white;
  font-family: 'Pixel Emulator', sans-serif;
  text-align: center;
  text-transform: uppercase;
  transform: perspective(120px) rotateX(35deg);
}

.canvas-container {
  position: relative;
}

.canvas-container::after {
  content: '';
  position: absolute;
  width: 10px;
  top: 2%;
  bottom: 2%;
  left: calc(50% - 10px);
  background-image: linear-gradient(white 33%, rgba(255,255,255,0) 0%);
  background-position: right;
  background-size: 5px 15px;
  background-repeat: repeat-y;
}

#canvas {
  border: 1px solid white;
}
